/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("assets/img/table.jpg");
    /*background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
        background-repeat: repeat-y; */
    background-size: 100% 170%;
    background-repeat: no-repeat;
    font-size: 22px;
}

nav {
    background-color: black;
    color: white;
}

button {
    background-color: black;
    border: black;
}

button:hover {
    background-color: white;
    border: white;
    color: black;
}

.content {
    min-height: calc(100vh - 70px);
}

footer {
    background-color: black;
    color: white;
    height: 60px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}